node_modules
client-build
build.txt
config_build.json
config_local.json
server/config_local.json
client/config/config_local.json
client/config/config_build.json
client/audio/music
.DS_Store
*.swp
*.log
.vercel
.railway